.container {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}

.box {
	margin-top: 25px;
	background-color: #e5e1e6;
	border-radius: 10px;
	padding: 5px;
}

.message {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}

img {
	margin-left: 10px;
}

.message svg{
	margin-right: 20px;
}

p{
	margin: 0;
	font-size: 15px;
}

